<% if notice != nil %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<section class="container-fluid">
  <div class="row"><div class="col-sm-1 col-md-2 col-lg-3"></div>
  <div class="col-sm-10 col-md-9 col-lg-6">
    <div class="top-logo"><%= image_tag "insta.png" %><br></div>
    <div class="row">
      <div class="your-name">
        <% if @username %>
            <%= link_to '新規投稿', new_picture_path, :class => 'btn btn-primary' %>
            こんにちは @<%= @username %> さん
        <% else %>
            ログインしていません
        <% end %>
      </div>
    </div><br>
    <table class="table table-bordered table-hover picture-area">
      <% @pictures.each do |picture| %>
        <tr><td>
          <div class="row">
            <div class="col-sm-6 picture-title">
              <%= picture.title %>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12"><%= image_tag picture.image_url , :class => 'img img-rounded'%></div>
            <div class="col-sm-12 picture-comment"><br><%= picture.comment %><br><br></div>
            <% if picture.user == current_user %>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <%= link_to '編集', edit_picture_path(picture.id), :class => 'btn btn-default'%>
                <%= link_to '削除', picture_path(picture.id), data: {confirm: 'delete this picture?' } , method: :delete, :class => 'btn btn-danger'%>
              </div>
            <% end %>
            <% if picture.user %>
              <div class="col-sm-6 col-md-4 col-lg-6 picture-name">
                @<%= picture.user.name %>さんの投稿
                <br><%= picture.created_at.strftime("%Y年%-m月%d日_%H:%M:%S") %>
              </div>
            <% end %>
            </div>
          </div></td>
        </tr>
      <% end %>
    </table>
  </div></div>
</section>