<h1>new picture</h1>
<%= form_for(@picture, url: pictures_path, method: :post) do |f| %>
  <!-- エラーがあった場合の表示 -->
  <% if @picture.errors.any? %>
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <!-- 入力フォーム -->
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <br>
  <%= f.label :image_url %>
  <%= f.file_field :image_url %>
  <br>
  <%= f.submit '投稿', :class => "btn btn-primary" %>
  <%= link_to '戻る',:back, :class => 'btn btn-default' %>
<% end %>